# Server Configuration
PORT=8000
NODE_ENV=development
CACHE_REFRESH_HEADER=
CACHE_REFRESH_SECRET=

# Authentication Configuration
ACCESS_TOKEN_SECRET=

# Database Configuration
DATABASE_URL=

# Rate Limiting Configuration
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=200

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json

# Logging Configuration
PRISMA_LOG_QUERIES=true
PRISMA_LOG_ERRORS=true
PRISMA_LOG_WARNINGS=true
