name: Docker Build & Push and Deploy to prod for eatery-blue-backend

on:
  push:
    branches: [release]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Docker Build & Push
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: cornellappdev/eatery-prod:${{ steps.vars.outputs.sha_short }}

      - name: Deploy with Native SSH
        env:
          PRIVATE_KEY: ${{ secrets.PROD_SERVER_KEY }}
          HOST: ${{ secrets.PROD_SERVER_HOST }}
          USER: ${{ secrets.SERVER_USERNAME }}
          IMAGE_TAG: ${{ steps.vars.outputs.sha_short }}
        run: |
          # Setup SSH directory
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          # Save the Private Key to a file using the env var
          echo "$PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          # Add the server to known_hosts to avoid prompt
          ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts

          # Run the remote commands
          ssh -i ~/.ssh/id_rsa "$USER@$HOST" "
            export IMAGE_TAG=$IMAGE_TAG
            cd docker-compose
            docker stack rm thestack
            sleep 20
            docker stack deploy -c docker-compose.yml thestack
            docker system prune -af
          "
